<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1583680599407-f73ab374fff4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
  <div class="container">
    <h1>AirBooNBoo partners you with the spookiest ghosts</h1>
    <p>Find the perfect ghost for all your spooking needs</p>
    <a class="btn btn-flat" href="#">Book now</a>
  </div>
</div>
