.ghost-title {
  margin-bottom: 32px;
  width: 100%;
}

.ghost-title > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ghost-title h1 {
  margin-bottom: 8px;
}

.ghost-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid $carmine;
}

.ghost-info img {
  width: calc(50% - 8px);
  // border: 1px solid black;
  border-radius: 16px;
}

.ghost-details {
  width: calc(50% - 8px);
  margin-left: 16px;
  padding-left: 16px;
}

.ghost-details h4 {
  margin-bottom: 16px;
}

.ghost-details p {
  padding-bottom: 16px;
  // border-bottom: 1px solid $carmine;
  margin-bottom: 16px;
}

.ghost-reviews h2 {
  margin-bottom: 16px;
}

.new-spook-form {
  margin-top: 16px;
}
