.ghost-title {
  margin-bottom: 16px;
}

.ghost-title h1 {
  margin-bottom: 8px;
}

.ghost-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.ghost-info img {
  width: calc(50% - 8px);
  border: 1px solid black;
  border-radius: 16px;
}

.ghost-details {
  width: calc(50% - 8px);
  margin-left: 16px;
}
