.ghost-title {
  margin-bottom: 32px;
  width: 100%;
}

.ghost-title > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ghost-title h1 {
  margin-bottom: 8px;
  font-weight: bold;
}

.ghost-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-height: 800px;
  overflow: hidden;
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba($carmine, 0.3);
}

.ghost-info img {
  width: calc(50% - 16px);
  border-radius: 16px;
  object-fit: cover;
}

.ghost-details {
  width: calc(50% - 8px);
  margin-left: 32px;
}

.ghost-details h4 {
  margin-bottom: 16px;
}

.ghost-details p {
  margin-bottom: 16px;
}

.ghost-reviews h2 {
  margin-bottom: 16px;
}

.new-spook-form {
  margin-top: 16px;
}

.card-ghost-pricing {
  color: $byzantium;
}

.card-ghost-pricing span {
  font-size: 28px;
  font-weight: bold;
}
