<div class='category'>
  <%# <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="container">
      <h1>AirBooNBoo lets you <strong>spook</strong> your favourite people</h1>
      <p>Book your next spook</p>
      <a class="btn btn-flat" href="#">Sign up</a>
    </div>
  </div> %>

</div>
<%= render 'components/banner' %>
