<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-4">
    <h2>Edit your Spook </h2>
      <%= simple_form_for(@spook, url: my_spook_path) do |f| %>
        <%= f.date_select :start_date, as: :date  %>
        <%= f.date_select :end_date, as: :date  %>
        <%= f.submit 'Edit my Spook!', class: 'btn-flat' %>
      <% end %>
    </div>
  </div>
</div>
