<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-4">
    <h2>Edit your Reservation </h2>
      <%= simple_form_for(@spook, url: my_spook_path) do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <%= f.submit 'Confirm', class: 'btn-flat' %>
      <% end %>
    </div>
  </div>
</div>
