
.container-ghost {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card-ghost {
  overflow: hidden;
  background: $ghost;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 16px;
  padding: 10px;
  margin: 15px;
  width: 350px;
  // max-height: 100%;
}

.card-ghost > img {
  // object-position: center;
  margin: auto;
  display: block;
}

.card-ghost h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-ghost p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-ghost .card-ghost-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  // align-items: flex-end;
  position: relative;
}

.card-ghost-infos .card-ghost-user {
  position: absolute;
  right: 15px;
  top: 1px;
  width: 40px;
}

a {
  text-decoration: none;
}
