.card-spook {
  overflow: hidden;
  height: 240px;
  background: $ghost;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 16px;
}

.card-spook img {
  height: 100%;
  width: 240px;
  object-fit: cover;
}

.card-spook h2 {
  font-weight: bold;
  margin-bottom: 16px;
}

.card-spook p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 16px;
}

.card-spook p:first-of-type {
  font-size: 18px;
}

.card-spook .card-spook-infos {
  padding: 24px;
  position: relative;
}

.card-spook-infos .card-spook-status {
  position: absolute;
  left: -225px;
  top: 14px;
  background-color: $ghost;
  color: #1b1f3a;
  border-radius: 5px;
  padding: 1px 5px;
}
