.card-form {
  background-color: rgba($coral, 0.1);
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.card-form h1 {
  margin-bottom: 16px;
}

.form-row {
  width: 100%;
}

select {
  font-size: 16px;
}

select:last-of-type {
  margin-bottom: 16px;
}

.remove-btn-border {
  border: none;
}
