h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  padding-bottom: 100px;
  min-height: 100vh;
}

.wrapper {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
