.navbar {
  justify-content: space-between;
  background: $space;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 125px;
}

.nav-link {
  color: $ghost;
}

.nav-link:hover {
  color: $ghost;
  font-style: italic;
  font-weight: bolder;
}
