.navbar {
  justify-content: space-between;
  background: $space;
  position: sticky;
  width: 100%;
  top: 0;
  min-height: 60px;
  z-index: 1;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 125px;
}

.nav-link {
  color: $ghost;
}

.nav-link:hover {
  color: $ghost;
  font-style: italic;
  font-weight: bolder;
}

.navbar-nav{
  align-items: center;
}
